<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>AppEngine and Templates</title>

    <meta name="description" content="Introduction to the use of templates in AppEngine applications.">
    <meta name="author" content="Luis Ibanez">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="revealjs/css/reveal.min.css">
    <link rel="stylesheet" href="revealjs/css/theme/sky.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="revealjs/lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="revealjs/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
            <h1>Templates</h1>
            <h3>Use in AppEngine</h3>
            <p>
                <small>Created by <a href="https://github.com/luisibanezcssi">Luis Ibanez</a> / <a href="http://twitter.com/luisibanez">@luisibanez</a></small>
            </p>
        </section>

        <section>
            <h1>AppEngine</h1>
            <h1>Review</h1>
        </section>

        <section>
            <h1>Hello</h1>
            <h1>World!</h1>
        </section>

        <section>
            <h3>main.py</h3>
            <div class="fragment">
            <pre><code class="language-python">
import webapp2
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        self.response.write('Hello World!')
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
app = webapp2.WSGIApplication([
    ('/', MainHandler)
], debug=True)
            </code></pre>
            </div>
        </section>

        <section>
            <h3>app.yaml</h3>
            <div class="fragment">
            <pre><code class="language-yaml">
runtime: python27
api_version: 1
threadsafe: true
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-yaml">
handlers:
- url: /favicon\.ico
  static_files: favicon.ico
  upload: favicon\.ico

- url: .*
  script: main.app
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-yaml">
libraries:
  - name: webapp2
    versions: "2.5.2"
            </code></pre>
            </div>
        </section>

        <section>
            <h3>main.py</h3>
            <div class="fragment">
            <pre><code class="language-python">
import webapp2
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        self.response.write('Hello World!')
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
class CountHandler(webapp2.RequestHandler):
    def get(self):
        for i in range(1, 21):
          self.response.write('Hello %d <br>' % i)
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
app = webapp2.WSGIApplication([
    ('/', MainHandler),
    ('/count', CountHandler)
], debug=True)
            </code></pre>
            </div>
        </section>

        <section>
            <h1>Exercise!</h1>
        </section>

        <section>
            <h2>Download</h2>
            <h2>and Run</h2>
            <h2>exercise-02</h2>
        </section>

        <section>
            <h3>Closer Look</h3>
            <div class="fragment">
            <p>The content of "self.response.write"</p>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        self.response.write('Hello World!')
            </code></pre>
            </div>
            <div class="fragment">
            <p>Is really HTML</p>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        self.response.write('<h1>Hello World!</h1>')
           </code></pre>
            </div>
        </section>

        <section>
            <h2>Not</h2>
            <h2>a good way</h2>
        </section>

        <section>
            <h2>to write</h2>
            <h2>a full HTML page</h2>
        </section>

        <section>
            <h1>Templates</h1>
        </section>

        <section>
            <h3>Use Templates Instead</h3>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        self.response.write('Hello World!')
            </code></pre>
            </div>
            <div class="fragment">
            <p>With a template becomes</p>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        self.response.write(template.render())
           </code></pre>
            </div>
        </section>

        <section>
            <h3>Using Templates</h3>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        self.response.write(template.render())
            </code></pre>
            </div>
            <div class="fragment">
            <p>Where the template comes from</p>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render())
           </code></pre>
            </div>
        </section>

        <section>
            <h3>Using Templates</h3>
            <div class="fragment">
            <pre><code class="language-python">
        template = jinja_environment.get_template('templates/main.html')
            </code></pre>
            </div>
            <div class="fragment">
            <p>Where the jinja_environment comes from</p>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
jinja_environment = jinja2.Environment(loader=
    jinja2.FileSystemLoader(os.path.dirname(__file__)))
           </code></pre>
            </div>
        </section>

        <section>
            <h3>All Together</h3>
            <div class="fragment">
            <pre><code class="language-python">
import jinja2
import os
import webapp2
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
jinja_environment = jinja2.Environment(loader=
    jinja2.FileSystemLoader(os.path.dirname(__file__)))
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render())
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
app = webapp2.WSGIApplication([
    ('/', MainHandler)
], debug=True)
            </code></pre>
            </div>
        </section>

        <section>
            <h3>app.yaml</h3>
            <div class="fragment">
            <pre><code class="language-yaml">
libraries:
- name: webapp2
  version: "2.5.2"
            </code></pre>
            </div>
            <div class="fragment">
            <p>With templates becomes</p>
            </div>
            <div class="fragment">
            <pre><code class="language-yaml">
libraries:
- name: jinja2
  version: latest
- name: webapp2
  version: "2.5.2"
           </code></pre>
            </div>
        </section>

        <section>
            <h3>HTML Template</h3>
            <div class="fragment">
            <pre><code class="language-html">
<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <h1>AppEngine</h1>
    <img src="https://cloud.google.com/images/products/logos/appengine-symbol.png" alt="AppEngine Logo">
  </body>
</html>
            </code></pre>
            </div>
        </section>

        <section>
            <h1>Variables</h1>
        </section>

        <section>
            <h1>Dynamic</h1>
            <h1>Web</h1>
        </section>

        <section>
            <h2>Introducing</h2>
            <h2>Variables</h2>
        </section>

        <section>
            <h3>Introducing Variables</h3>
            <div class="fragment">
            <p>Replace<p>
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render())
            </code></pre>
            </div>
            <div class="fragment">
            <p>With<p>
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template_vars = {"name": "CSSI NYC"}
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render(template_vars))
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Introducing Variables</h3>
            <div class="fragment">
            <h4>Replace</h4>
            <pre><code class="language-html">
    <h1>Hello World!</h1>
            </code></pre>
            </div>
            <div class="fragment">
            <h4>With</h4>
            <pre><code class="language-html">
    <h1>Hello {{ name }} !</h1>
            </code></pre>
            </div>
        </section>

        <section>
            <h2>Let's Call</h2>
            <div class="fragment">
            <br>
            <h2>{{    }}</h2>
            <br>
            </div>
            <div class="fragment">
            <h2>"Mustaches"</h2>
            </div>
        </section>

        <section>
            <h3>Data Flow</h3>
            <div class="fragment">
            <p>The variable called: "name"<p>
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template_vars = {"name": "CSSI NYC"}
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render(template_vars))
            </code></pre>
            </div>
            <div class="fragment">
            <p>Flows to<p>
            <pre><code class="language-html">
<h1>Hello {{ name }} !</h1>
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Data Flow</h3>
            <div class="fragment">
            <p>More Variables<p>
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template_vars = {
            "name": "CSSI NYC",
            "food": "Pizza",
            "music": "Jazz"}
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render(template_vars))
            </code></pre>
            </div>
            <div class="fragment">
            <p>Flows to<p>
            <pre><code class="language-html">
<h1>Hello {{ name }} !</h1>
<h1>Let's eat {{ food }} !</h1>
<h1>and listen to {{ music }} !</h1>
            </code></pre>
            </div>
        </section>

        <section>
            <h1>Exercise!</h1>
        </section>

        <section>
            <h2>Introduce</h2>
            <h2>Logic</h2>
            <h2>in Handler</h2>
        </section>

        <section>
            <h2>Choose</h2>
            <h2>Food and music</h2>
        </section>

        <section>
            <h2>According to</h2>
            <h2>time</h2>
            <h2>of the day</h2>
        </section>

        <section>
            <h2>End of Exercise</h2>
        </section>

        <section>
            <h2>Getting</h2>
            <h2>information</h2>
            <h2>from</h2>
            <h2>the request</h2>
        </section>

        <section>
            <h2>Method 1</h2>
        </section>

        <section>
            <h2>The</h2>
            <h2>Query</h2>
            <h2>String</h2>
        </section>

        <section>
            <h3>Query String</h3>
            <div class="fragment">
            <pre><code class="language-html">
    https://www.facebook.com/login.php?login_attempt=1
            </code></pre>
            </div>
            <div class="fragment">
            <br>
            <h4>?login_attempt=1</h4>
            </div>
        </section>

        <section>
            <h3>Query String</h3>
            <div class="fragment">
            <pre><code class="language-html">
    url?key1=value1
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-html">
    url?key1=value1&key2=value2
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-html">
    url?key1=value1&key2=value2&key3=value3
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Query String</h3>
            <div class="fragment">
            <pre><code class="language-html">
    https://api.umd.io/v0/courses?dept_id=CMS&semester=201501&credits=3&department=Computer%20Science&grading_method=Audit
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
https://api.umd.io/v0/courses
?
dept_id = CMS
semester = 201501
credits = 3
department = Computer%20Science
grading_method = Audit
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Query String</h3>
            <div class="fragment">
            <h4>The values</h4>
            <pre><code class="language-python">
https://api.umd.io/v0/courses ?
dept_id = CMS
semester = 201501
credits = 3
department = Computer%20Science
grading_method = Audit
            </code></pre>
            </div>
            <div class="fragment">
            <h4>can be read in python as</h4>
            <pre><code class="language-python">
value1 = self.request.get('dept_id')
value2 = self.request.get('semester')
value3 = self.request.get('credits')
value4 = self.request.get('department')
value5 = self.request.get('grading_method')
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Data Flow</h3>
            <div class="fragment">
            <p>From Query String<p>
            <pre><code class="language-html">
https://localhost:8080/?name=Luis&food=Tacos&music=Salsa
            </code></pre>
            </div>
            <div class="fragment">
            <p>Extract in Python<p>
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template_vars = {}
        template_vars["name"] = self.request.get('name')
        template_vars["food"] = self.request.get('food')
        template_vars["music"] = self.request.get('music')
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render(template_vars))
            </code></pre>
            </div>
            <div class="fragment">
            <p>Down to HTML<p>
            <pre><code class="language-html">
<h1>Hello {{ name }} !</h1>
<h1>Let's eat {{ food }} !</h1>
<h1>and listen to {{ music }} !</h1>
            </code></pre>
            </div>
        </section>

        <section>
            <h1>Exercise!</h1>
        </section>

        <section>
            <h2>Implement</h2>
            <h2>Pizza Ordering</h2>
        </section>

        <section>
            <h3>Pizza Ordering</h3>
            <ul>
            <li>Crust
            <li>Size
            <li>Sauce
            <li>Cheese
            <li>Topings
            </ul>
        </section>

        <section>
            <h3>HTML page</h3>
            <h3>displays</h3>
            <h3>the final</h3>
            <h3>Pizza Order</h3>
        </section>

        <section>
            <h2>End of Exercise</h2>
        </section>

        <section>
            <h2>Logic in</h2>
            <h2>Templates</h2>
        </section>

        <section>
            <h3>Missing Parameters?</h3>
            <div class="fragment">
            <p>From Query String<p>
            <pre><code class="language-html">
https://localhost:8080/?name=Luis&food=Tacos&music=Salsa
            </code></pre>
            </div>
            <div class="fragment">
            <p>What to do with only<p>
            <pre><code class="language-html">
https://localhost:8080/?music=Salsa
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Default Values</h3>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template_vars = {
            "name": self.request.get('name', default_value='Dracula'),
            "food": self.request.get('food', default_value='Brocoli'),
            "music": self.request.get('music', default_value='Techno')}
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render(template_vars))
            </code></pre>
            </div>
        </section>

        <section>
            <h2>Python in</h2>
            <h2>Templates</h2>
        </section>

        <section>
            <h2>Python logic</h2>
            <div class="fragment">
            <p>Manage default for <p>
            <pre><code class="language-html">
<h1>Hello {{ name }} !</h1>
            </code></pre>
            </div>
            <div class="fragment">
            <p>with something like<p>
            <pre><code class="language-html">
<h1>Hello
  if name
     {{ name }} !
  else
     Dracula !
  endif
</h1>
            </code></pre>
            </div>
        </section>

        <section>
            <h2>Embedded Python Syntax</h2>
            <div class="fragment">
            <p>looks like<p>
            <pre><code class="language-html">
<h1>Hello
  {% if name %}
     {{ name }} !
  {% else %}
     Dracula !
  {% endif %}
</h1>
            </code></pre>
            </div>
        </section>

        <section>
            <h2>"Mustaches"</h2>
            <div class="fragment">
            <h4>Variables</h4>
            <br>
            <h2>{{    }}</h2>
            <br>
            </div>
            <div class="fragment">
            <h4>Statements</h4>
            <br>
            <h2>{%    %}</h2>
            <br>
            </div>
        </section>

        <section>
            <h2>No need for ":"</h2>
            <div class="fragment">
            <pre><code class="language-html">
<h1>Hello
  {% if name %}
     {{ name }} !
  {% else %}
     Dracula !
  {% endif %}
</h1>
            </code></pre>
            </div>
            <div class="fragment">
            <h3>To begin blocks</h3>
            </div>
        </section>

        <section>
            <h1>Exercise!</h1>
        </section>

        <section>
            <h2>Introduce</h2>
            <h2>Logic</h2>
            <h2>in Handler</h2>
        </section>

        <section>
            <h2>With</h2>
            <h2>Salutations</h2>
            <h2>for Vegetarians</h2>
        </section>

        <section>
            <h2>End of Exercise</h2>
        </section>

        <section>
            <h2>Loops</h2>
            <h2>in</h2>
            <h2>Templates</h2>
        </section>

        <section>
            <h3>Loops and lists</h3>
            <div class="fragment">
            <p>Pass a list in Python<p>
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template_vars = {
            'names': ['John', 'Paul', 'George', 'Ringo']}
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render(template_vars))
            </code></pre>
            </div>
            <div class="fragment">
            <p>Down to HTML<p>
            <pre><code class="language-html">
<h1>The Beatles</h1>
<ul>
{% for name in names %}
    <li> {{name}} </li>
{% endfor %}
</ul>
            </code></pre>
            </div>
        </section>

        <section>
            <h1>Exercise!</h1>
        </section>

        <section>
            <h2>Show</h2>
            <h2>Your Favorite</h2>
            <h2>Movies</h2>
        </section>

        <section>
            <h2>As a list</h2>
        </section>

        <section>
            <h2>End of Exercise</h2>
        </section>

        <section>
            <h2>Combining</h2>
            <h2>with</h2>
            <h2>Get Method</h2>
        </section>

        <section>
            <h3>Loops, lists and get</h3>
            <div class="fragment">
            <p>Pass a list and get a value from the query string<p>
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        template_vars = {
            'names': ['John', 'Paul', 'George', 'Ringo'],
            'showimg': self.request.get('showimg')}
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render(template_vars))
            </code></pre>
            </div>
            <div class="fragment">
            <p>Down to HTML<p>
            <pre><code class="language-html">
<h1>The Beatles</h1>
<ul>
{% for name in names %}
    <li> {{name}} </li>
{% endfor %}
</ul>
{% if showimg!='no' %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/The_Fabs.JPG/480px-The_Fabs.JPG" alt="Beatles Picture">
{% endif %}
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Try it with</h3>
            <div class="fragment">
            <p>Showing image<p>
            <pre><code class="language-html">
https://localhost:8080/?showimg=yes
            </code></pre>
            </div>
            <div class="fragment">
            <p>Not showing image<p>
            <pre><code class="language-html">
https://localhost:8080/?showimg=no
            </code></pre>
            </div>
        </section>

        <section>
            <h1>Exercise!</h1>
        </section>

        <section>
            <h2>Enable / Disable</h2>
            <h2>Showing an image</h2>
        </section>

        <section>
            <h2>Of your</h2>
            <h2>favorite movie</h2>
        </section>

        <section>
            <h2>End of Exercise</h2>
        </section>

        <section>
            <h2>Passing</h2>
            <h2>Dictionaries</h2>
        </section>

        <section>
            <h3>Dictionaries</h3>
            <div class="fragment">
            <p>Pass a dictionary<p>
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
    def get(self):
        beatles_dict = {
            'John': { 'name': 'John Lennon', 'dob': '10/09/40', 'pob': 'Liverpool'},
            'Paul': { 'name': 'Paul McCartney', 'dob': '06/18/42', 'pob': 'Liverpool'},
            'George': { 'name': 'George Harrison', 'dob': '02/25/43', 'pob': 'Liverpool'},
            'Ringo': { 'name': 'Ringo Starr', 'dob': '07/07/40', 'pob': 'Dingle'}}
        template_vars = {
            'beatles': beatles_dict,
            'showimg': self.request.get('showimg')}
        template = jinja_environment.get_template('templates/main.html')
        self.response.write(template.render(template_vars))
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Dictionaries</h3>
            <div class="fragment">
            <p>Down to HTML<p>
            <pre><code class="language-html">
<h1>The Beatles</h1>
{% for i in beatles %}
    <h2> {{ beatles[i]['name'] }} </h2>
    <h3> Date of birth: {{ beatles[i]['dob'] }} </h3>
    <h3> Place of birth: {{ beatles[i]['pob'] }} </h3>
{% endfor %}
{% if showimg!='no' %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/The_Fabs.JPG/480px-The_Fabs.JPG" alt="Beatles Picture">
{% endif %}
            </code></pre>
            </div>
        </section>

        <section>
            <h1>Exercise!</h1>
        </section>

        <section>
            <h2>Use</h2>
            <h2>Dictionaries</h2>
        </section>

        <section>
            <h2>to show data</h2>
            <h2>of your</h2>
            <h2>favorite movies</h2>
        </section>

        <section>
            <h2>End of Exercise</h2>
        </section>


        <section>
            <h2>Getting</h2>
            <h2>information</h2>
            <h2>from</h2>
            <h2>the request</h2>
        </section>

        <section>
            <h2>Method 2</h2>
        </section>

        <section>
            <h2>Forms</h2>
        </section>

        <section>
            <h3>Form</h3>
            <div class="fragment">
            <p>In HTML template<p>
            <pre><code class="language-html">
<h1>Pizza NYC</h1>
<h2>Best Pizza you will ever code</h2>

<form method=post>
    <p>Crust: <input type="text" name="crust"/></p>
    <p>Size: <input type="text" name="size"/></p>
    <p>Sauce: <input type="text" name="sauce"/></p>
    <p>Cheese: <input type="text" name="cheese"/></p>
    <p>Topings: <input type="text" name="topings"/></p>
    <button type="submit">Place Order</button>
</form>
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Data Transfer</h3>
            <div class="fragment">
            <pre><code class="language-python">
class MainHandler(webapp2.RequestHandler):
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
    def get(self):
        template = jinja_environment.get_template('templates/input_order.html')
        self.response.write(template.render())
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-python">
    def post(self):
        template = jinja_environment.get_template('templates/output_order.html')
        pizza_order = {
          'crust_answer': self.request.get('crust'),
          'size_answer': self.request.get('size'),
          'sauce_answer': self.request.get('sauce'),
          'cheese_answer': self.request.get('cheese'),
          'topings_answer': self.request.get('topings')}
        self.response.write(template.render(pizza_order))
            </code></pre>
            </div>
        </section>

        <section>
            <h3>Response Template</h3>
            <div class="fragment">
            <p>In HTML<p>
            <pre><code class="language-html">
<h1>Pizza NYC</h1>
<h2>Best Pizza you will ever code</h2>

<h2>We got your order!</h2>
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-html">
<p>Crust: {{ crust_answer }} </p>
<p>Size: {{ size_answer }} </p>
<p>Sauce: {{ sauce_answer }} </p>
<p>Cheese: {{ cheese_answer }} </p>
<p>Topings: {{ topings_answer }} </p>
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code class="language-html">
<h2>Our minions are starting to work on it.</h2>
            </code></pre>
            </div>
        </section>

        <section>
            <h1>Exercise!</h1>
        </section>

        <section>
            <h2>Use</h2>
            <h2>Forms</h2>
        </section>

        <section>
            <h2>to build</h2>
            <h2>a class</h2>
            <h2>registration system</h2>
        </section>

        <section>
            <h2>End of Exercise</h2>
        </section>

        <section>
            <h1>END</h1>
        </section>

      </div>

    </div>

    <script src="revealjs/lib/js/head.min.js"></script>
    <script src="revealjs/js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'revealjs/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'revealjs/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'revealjs/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'revealjs/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'revealjs/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
