<!DOCTYPE html>
<html>
  <head>
    <title>Pizza NYC</title>
  </head>
  <body>
    <h1>Pizza NYC</h1>
    <h2>Best Pizza you will ever code</h2>

    <form method=post>
        <p>Crust: <input type="text" name="crust"/></p>
        <p>Size: <input type="text" name="size"/></p>
        <p>Sauce: <input type="text" name="sauce"/></p>
        <p>Cheese: <input type="text" name="cheese"/></p>
        <p>Topings: <input type="text" name="topings"/></p>
        <button type="submit">Place Order</button>
    </form>
  </body>
</html>
